/*Message bubbles*/
.messageDate {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
    z-index: 1;
    min-height: 38px;
}

.dateBreak.no_bubble {
    position: relative;
    float: right;
    width: 100%;
    padding: 15px 0 0 0;
    white-space: normal;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    height: 40px;
}

.clear {
    clear: both;
}

.from-me {
    position: relative;
    background: var(--pistachio_green);
    border-radius: 25px;
    float: right;
    max-width: 90vw;
    height: auto;
    padding: 13px 13px 0 13px;
    margin: 5px 10px 5px 0;
}
.from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid var(--pistachio_green);
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: #fff8eb;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.from-them {
    position: relative;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
    max-width: 90vw;
    height: auto;
    padding: 13px 13px 0 13px;
    margin: 5px 0 5px 10px;
}
.from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: #fff8eb;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

