<template name="stdButton">
    <button class="dispatchBtn {{this.classes}}" id="{{this.id}}">{{this.text}}</button>
</template>

<template name="header">
    <div class="header">
        <div id="userName">{{currentlyLoggedIn 'user'}}</div>
        <div id="companyName">{{currentlyLoggedIn 'company'}}</div>
        <div id="headerTitle">
            <div id="newMsg">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            {{title}}
        </div>
    </div>
</template>

<template name="threadHeader">
    <div class="header thread">
        {{#if hasNumber}}
            <div id="headerTitle">
                <div id="back">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                {{threadName}}
            </div>
        {{else}}
            <div id="back">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div id="contactSelect">
                <div id="contactSelecter">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                        <input class="form-control phone_entry" id="contact" type="tel" name="contact" placeholder="Mobile Number">
                    </div>
                </div>
            </div>
            <div id="plus">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </div>
        {{/if}}
    </div>
</template>

<template name="footer">
    <div id="footer">
        <i class="connectStatus fa {{connectedStatus}}"></i>
    </div>
</template>

<template name="deviceInfo">
    <p>Platform: <i id="device-platform"></i></p>
    <p>Version: <i id="device-version"></i></p>
    <p>Cordova: <i id="device-cordova"></i></p>
    <p>Model: <i id="device-model"></i></p>
    <p>UUID: <i id="device-uuid"></i></p>
</template>

<template name="smsMsgsTemplate">
    <div id="messageBox">
        {{#each uniqueUser}}
            <div id="{{msgSafeID this}}" data="{{this}}" class="msgInstance {{isInProgress this}}">
                <div class="typeStatus">
                    <i class="fa {{getLatestMsgType this}} {{isRead this}}" aria-hidden="true"></i>
                </div>
                <p class="dateTime">{{formatMsgDate this 'time'}}</p>
                <p class="whoFrom">{{whoFrom this}}</p>
                <p class="msgPreview">{{msgPreview this}}</p>
            </div>
        {{/each}}
    </div>
    {{>footer}}
</template>

<template name="messageThread">
    {{watcher}}

    {{#if chooseNumber}}
        <div id="numberChooser">
            {{#each chosenNumber}}
                <div id="{{makeID value}}" class="numberInstance">
                    <span class="capitalize">{{type}}</span>: {{whoFrom value}}
                </div>
            {{/each}}
        </div>
    {{/if}}

    <div id="messageThreadPage">
        <div id="messageThreadBox">
            {{#each msgDate this}}
                {{setNewDate this}}
                {{#if checkDate this}}
                    <div class="dateBreak no_bubble">
                        {{formatMsgDate this 'date'}}
                    </div>
                {{/if}}
                {{#each twilMsg this}}
                    <div class="msgTime {{floatSide this}}"><strong class="msgStatus capitalize">{{msgStatus this}}</strong> @ {{formatedTime this}}</div>
                    <div id="{{_id}}" class="msgBubble animated {{whichDirection this}} {{bubbleClass this}}">
                        <p class="wordWrap">{{body}}</p>
                    </div>
                    <div class="clear"></div>
                {{/each}}
            {{/each}}
        </div>
        <div id="textAreaWrap">
            <textarea id="messageText" autocomplete="on" spellcheck="true" class="dispatch_entry" name="messageText" placeholder="Send a message..."></textarea>
        </div>
        <div id="sndMsg">Send</div>
    </div>
</template>